* {
   margin: 0;
}
.App {
   /* border: 1px solid red; */
   margin: 50px;
}
.header-container {
   width: 90vw;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
}
.location-container {
   text-transform: capitalize;
}
.input-container {
   display: flex;
   align-items: center;
   height: 100%;
   width: 280px;
}
.header__input {
   border: none;
   outline: none;
   font-size: 1.1rem;
   padding: 5px 20px;
   height: calc(100% - 10px);
   width: 100%;
   border-radius: 5px;
}
.header__btn {
   border: none;
   outline: none;
   text-transform: uppercase;
   background-color: white;
   height: 100%;
   color: #4971f3;
}
.header__input::placeholder {
   color: #8080807a;
   text-transform: capitalize;
}
.stats-container {
   width: 90vw;
   margin: 30px auto;
   background-color: transparent;
}
.stats-cards {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.chart-container {
   width: 90vw;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(auto, 1fr);
   row-gap: 30px;
}
.line-container {
   height: 250px;
   padding: 40px 40px;
}
.loading-text {
   font-size: 1.5rem;
   text-align: center;
   line-height: 250px;
   text-transform: uppercase;
}
